.post-content {
  display: flex;
  gap: 10px;
  font-size: 18px;
  flex-direction: column;
  color: #333;
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    color: #333;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  h4 {
    font-size: 1rem;
    line-height: 2rem;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  p {
    line-height: 1.6;
  }
  li {
    line-height: 1.6;
  }
  p > code,
  li > code {
    padding: 0.02em 0.25em;
    background: #f7f7f7;
    border: 1px solid #ededed;
    border-radius: 0.375rem;
    display: inline-block;
    line-height: 1.2;
    color: #ff7737;
    margin: 0;
    cursor: point;
  }
  pre:focus-visible {
    outline: none;
    cursor: pointer;
  }
  pre code {
    overflow-wrap: normal;
    word-wrap: normal;
    white-space: pre-wrap;
  }
  pre {
    background: #f9f9f9 !important;
    padding: 15px;
    border-radius: 10px;
    overflow-x: scroll;
    line-height: 1.5;
    overflow-x: auto;
    cursor: pointer;
  }
  a {
    border-bottom: 1px solid #d71a1b;
    transition: all 0.2s;
  }
  a:hover {
    border-bottom-width: 2px;
  }
  ul {
    /* margin-top: 10px; */
    margin-down: 10px;
    list-style-type: disc;
    padding-left: 36px;
    padding-right: 36px;
  }
  ul li {
    font-size: 16px;
    margin: 10px 0;
  }
}
